#textdomain wesnoth-Empire_Builder

[era]
  id=Era_of_Empires
  name= _ "Era of Empires"
  allow_modification=plan_your_advancements,Random_No_Mirror,Automatic_End_Turn
  force_modification=Empire_Builder
  #textdomain wesnoth-help
  [multiplayer_side]
    id=humans
    name=_"race^Humans"
    image=units/human-loyalists/general.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    leader=Lieutenant
    type=Lieutenant
    recruit=Peasant,Spearman,Swordsman,Heavy Infantryman,Shock Trooper,Bowman,Longbowman,EB Mage,Red Mage,Village_Healer,White Mage,Cavalryman,Dragoon
  [/multiplayer_side]
  [multiplayer_side]
    id=orcs
    name=_"race^Orcs"
    image=units/orcs/sovereign.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    leader=Orcish Ruler
    type=Orcish Ruler
    recruit=Goblin Spearman,Orcish Grunt,Orcish Warrior,Orcish Archer,Orcish Crossbowman,EB Orcish Assassin,EB Orcish Slayer,Orcish Shaman,Orcish Warlock,Wolf Rider,Goblin Knight
  [/multiplayer_side]
  #[multiplayer_side]
    #id=drakes
    #name=_"race^Drakes"
    #image=units/drakes/flameheart.png
    #{MAGENTA_IS_THE_TEAM_COLOR}
    #leader=Drake Flare
    #type=Drake Flare
    #recruit=Drake Fighter,Drake Warrior,Drake Clasher,Drake Arbiter,Fire Drake,Saurian Augur,Saurian Soothsayer,Drake Glider,Sky Drake
  #[/multiplayer_side]
  [multiplayer_side]
    id=dwarves
    name=_"race^Dwarves"
    image=units/dwarves/lord.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    leader=Dwarvish Steelclad
    type=Dwarvish Steelclad
    recruit=Dwarvish Miner,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Blacksmith,Dwarvish Runesmith,Dwarvish Alchemist,Dwarvish Potion Smith,Dwarvish Scout,Dwarvish Pathfinder
  [/multiplayer_side]
  [multiplayer_side]
    id=elves
    name=_"race^Elves"
    image=units/elves-wood/marshal.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    leader=Elvish Captain
    type=Elvish Captain
    recruit=Elvish Civilian,Elvish Fighter,Elvish Hero,Wose,Elder Wose,Elvish Archer,Elvish Marksman,Elvish Shaman,Elvish Sorceress,EB Elvish Shaman,Elvish Druid,Elvish Scout,Elvish Rider
  [/multiplayer_side]
  #textdomain wesnoth-Empire_Builder
  [multiplayer_side]
    id=cult
    name=_"The Cult"
    image=units/undead-necromancers/necromancer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    leader=Dark Sorcerer
    type=Dark Sorcerer
    recruit=Walking Corpse,Skeleton,Revenant,Ghoul,Necrophage,Skeleton Archer,Bone Shooter,Dark Adept,Dark Sorcerer,Ghost,Shadow
  [/multiplayer_side]
  [multiplayer_side]
    id=gang
    name=_"The Gang"
    image=units/human-outlaws/highwayman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    leader=Bandit
    type=Bandit
    recruit=Ruffian,Thief,Rogue,Thug,Bandit,Poacher,Trapper,EB Rogue Mage,EB Shadow Mage,EB Shaman,EB Wizard,Footpad,Outlaw
  [/multiplayer_side]

  [event]
    name=set_faction
    first_time_only=no
    [store_unit]
      [filter]
        side=$side_number
        canrecruit=yes
      [/filter]
      variable=leader_store
    [/store_unit]
    [switch]
      variable=leader_store.type
      [case]
        value="Lieutenant,Sergeant"
        {EB_FACTION_HUMANS}
      [/case]
      [case]
        value="Orcish Ruler"
        {EB_FACTION_ORCS}
      [/case]
      [case]
        value="Drake Flare"
        {EB_FACTION_DRAKES}
      [/case]
      [case]
        value="Dwarvish Steelclad"
        {EB_FACTION_DWARVES}
      [/case]
      [case]
        value="Elvish Captain"
        {EB_FACTION_ELVES}
      [/case]
      [case]
        value="Dark Sorcerer"
        {EB_FACTION_CULT}
      [/case]
      [case]
        value="Bandit"
        {EB_FACTION_GANG}
      [/case]
    [/switch]
  [/event]
[/era]
