#textdomain wesnoth-Empire_Builder

[unit_type]
    id=Farm1
    name= _ "Basic Farm"
    race=buildings
    image=scenery/windmill-01.png
    hitpoints=20
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=Farm2
    cost=14
    description= _ "Farms produce the necessary food for your subjects."
    [abilities]
        [produces_food]
            id=produces_food
            name=_"produces food"
            description=_"This building produces 3 food per turn (4 with technology Advanced Farming)."
            value=3
            max_value=4
        [/produces_food]
    [/abilities]
[/unit_type]

[unit_type]
    id=Farm2
    name= _ "Advanced Farm"
    race=buildings
    image=scenery/windmill-01.png
    hitpoints=28
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=null
    cost=17
    description= _ "Farms produce the necessary food for your subjects."
    [abilities]
        [produces_food]
            id=produces_food
            name=_"produces food"
            description=_"This building produces 5 food per turn (7 with technology Advanced Farming)."
            value=5
            max_value=7
        [/produces_food]
    [/abilities]
[/unit_type]
