#textdomain wesnoth-Empire_Builder

[unit_type]
    id=Fortress
    name= _ "Fortress"
    race=buildings
    image=terrain/village/desert3.png
    hitpoints=50
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=Stronghold
    cost=22
    description= _ "Fortresses provide food and healing for stationed units."
    [resistance]
        blade=80
        pierce=70
        impact=80
        fire=100
        cold=100
        arcane=50
    [/resistance]
    [abilities]
        [garrison]
            id=garrison
            name=_"garrison"
            description=_"This building can accommodate up to 4 units, providing them with food and healing."
            value=4
        [/garrison]
    [/abilities]
[/unit_type]

[unit_type]
    id=Stronghold
    name= _ "Stronghold"
    race=buildings
    image=terrain/village/desert4.png
    hitpoints=70
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=null
    cost=27
    description= _ "Strongholds provide food and healing for stationed units."
    [resistance]
        blade=80
        pierce=70
        impact=80
        fire=100
        cold=100
        arcane=50
    [/resistance]
    [abilities]
        [garrison]
            id=garrison
            name=_"garrison"
            description=_"This building can accommodate up to 8 units, providing them with food and healing."
            value=8
        [/garrison]
    [/abilities]
[/unit_type]
