#textdomain wesnoth-Empire_Builder

[unit_type]
    id=GoldMine1
    name= _ "Basic Gold Mine"
    race=buildings
    image=scenery/mine-abandoned.png
    hitpoints=35
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=GoldMine2
    cost=15
    description= _ "Miners in this mine extract gold."
    [abilities]
        [produces_gold]
            id=produces_gold
            name=_"produces gold"
            description=_"This building produces 1 gold mark per turn (2 with technology Advanced Mining)."
            value=1
            max_value=2
            technology=mining
        [/produces_gold]
    [/abilities]
[/unit_type]

[unit_type]
    id=GoldMine2
    name= _ "Advanced Gold Mine"
    race=buildings
    image=scenery/mine-abandoned.png
    hitpoints=35
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=null
    cost=15
    description= _ "Miners in this mine extract gold."
    [abilities]
        [produces_gold]
            id=produces_gold
            name=_"produces gold"
            description=_"This building produces 2 gold marks per turn (3 with technology Advanced Mining)."
            value=2
            max_value=3
            technology=mining
        [/produces_gold]
    [/abilities]
[/unit_type]
