#textdomain wesnoth-Empire_Builder

[unit_type]
    id=Port
    name= _ "Port"
    race=buildings
    image=terrain/village/coast.png
    hitpoints=34
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=null
    cost=15
    description= _ "In port, you can construct and repair ships."
    [abilities]
        [heals]
            id=ship_repair
            name=_"repair ships"
            female_name=_"female^repair ships"
            description=_"This building can repair adjacent allied ships at the beginning of our turn. A ship repaired by this building can recover up to 10 HP per turn."
            value=10
            affect_self=no
            affect_allies=yes
            poison=cured
            [affect_adjacent]
                [filter]
                    race=ship
                [/filter]
            [/affect_adjacent]
        [/heals]
    [/abilities]
[/unit_type]
