#textdomain wesnoth-Empire_Builder

[unit_type]
    id=Town_Hall
    name= _ "Town Hall"
    race=buildings
    image=terrain/village/elven2.png
    hitpoints=38
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=City_Hall
    cost=25
    description= _ "Town Hall is the central building of a village or small town. It produces gold."
    [abilities]
        [produces_gold]
            id=produces_gold
            name=_"produces gold"
            description=_"This building produces 2 gold mark per turn (3 with technology Economy)."
            value=2
            max_value=3
            technology=economy
        [/produces_gold]
        [city_center]
            id=city_center
            name=_"city center"
            description=_"You can hire workers here."
        [/city_center]
    [/abilities]
[/unit_type]

[unit_type]
    id=City_Hall
    name= _ "City Hall"
    race=buildings
    image=terrain/village/human-city4.png
    hitpoints=53
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=Tower_House
    cost=30
    description= _ "City Hall is the central building of a city. It produces gold."
    [abilities]
        [produces_gold]
            id=produces_gold
            name=_"produces gold"
            description=_"This building produces 4 gold mark per turn (5 with technology Economy)."
            value=4
            max_value=5
            technology=economy
        [/produces_gold]
        [city_center]
            id=city_center
            name=_"city center"
            description=_"You can hire workers here."
        [/city_center]
    [/abilities]
[/unit_type]

[unit_type]
    id=Tower_House
    name= _ "Tower House"
    race=buildings
    image=terrain/village/human-city3.png
    hitpoints=75
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=Castle
    cost=30
    description= _ "Tower House serves as a residence for a nobleman. It produces gold."
    [abilities]
        [produces_gold]
            id=produces_gold
            name=_"produces gold"
            description=_"This building produces 6 gold mark per turn (8 with technology Economy)."
            value=6
            max_value=8
            technology=economy
        [/produces_gold]
        [city_center]
            id=city_center
            name=_"city center"
            description=_"You can hire workers here."
        [/city_center]
    [/abilities]
[/unit_type]

[unit_type]
    id=Castle
    name= _ "Castle"
    race=buildings
    image=terrain/village/drake1.png
    hitpoints=100
    movement_type=building
    movement=1
    experience=300
    level=0
    alignment=neutral
    advances_to=null
    cost=30
    description= _ "Only a great ruler can build castles. It produces gold."
    [abilities]
        [produces_gold]
            id=produces_gold
            name=_"produces gold"
            description=_"This building produces 10 gold mark per turn (13 with technology Economy)."
            value=10
            max_value=13
            technology=economy
        [/produces_gold]
        [city_center]
            id=city_center
            name=_"city center"
            description=_"You can hire workers here."
        [/city_center]
    [/abilities]
[/unit_type]
