#textdomain wesnoth-Empire_Builder

#define EB_FACTION_CULT
    [modify_side]
        side=$side_number
        {FLAG_VARIANT undead}
    [/modify_side]
    {VARIABLE default_leader_name _"Levyan"}
    {DEFINE_RECRUIT worker "Walking Corpse" 3}
    {DEFINE_RECRUIT fighter1 "Skeleton" 11}
    {DEFINE_RECRUIT fighter2 "Revenant" 24}
    {DEFINE_RECRUIT tank1 "Ghoul" 12}
    {DEFINE_RECRUIT tank2 "Necrophage" 23}
    {DEFINE_RECRUIT archer1 "Skeleton Archer" 10}
    {DEFINE_RECRUIT archer2 "Bone Shooter" 22}
    {DEFINE_RECRUIT mage1 "Dark Adept" 12}
    {DEFINE_RECRUIT mage2 "Dark Sorcerer" 28}
    {VARIABLE player_recruits[$side_number].healer1 ""}
    {VARIABLE player_recruits[$side_number].healer2 ""}
    {DEFINE_RECRUIT scout1 "Ghost" 16}
    {DEFINE_RECRUIT scout2 "Wraith" 34}
    {DEFINE_RECRUIT hero11 "Dark Sorcerer" 37}
    {DEFINE_RECRUIT hero12 "Lich" 55}
    {DEFINE_RECRUIT hero21 "Death Squire" 38}
    {DEFINE_RECRUIT hero22 "Death Knight"  50}
    {DEFINE_RECRUIT hero31 "Shadow" 43}
    {DEFINE_RECRUIT hero32 "Nightgaunt" 57}
    {DEFINE_RECRUIT hero41 "Revenant" 33}
    {DEFINE_RECRUIT hero42 "Draug" 55}
    {SET_BUILDING_IMAGE barracks "portraits/humans/dark-adept.webp"}
    {SET_BUILDING_IMAGE blacksmith "portraits/undead/draug-2.webp"}
    {SET_BUILDING_IMAGE university "portraits/undead/lich.webp"}
    {SET_BUILDING_IMAGE embassy "portraits/humans/necromancer.webp"}
    {SET_BUILDING_IMAGE temple "portraits/undead/brown-lich.webp"}
    {SET_BUILDING_IMAGE hall_of_heroes "portraits/undead/shadow.webp"}
    {SET_BUILDING_IMAGE market "portraits/undead/ancient-lich.webp"}
#enddef
