#textdomain wesnoth-Empire_Builder

#define EB_FACTION_CULT
  [modify_side]
    side=$side_number
    {FLAG_VARIANT undead}
  [/modify_side]
  {VARIABLE player_info[$side_number].faction cult}
  {VARIABLE default_leader_name _"Levyan"}
  #textdomain wesnoth-units
  {DEFINE_RECRUIT worker "Walking Corpse" _"Walking Corpse" "units/undead/zombie.png~TC($side_number,magenta)" 3 1 1}
  {DEFINE_RECRUIT fighter1 "Skeleton" _"Skeleton" "units/undead-skeletal/skeleton/skeleton.png~TC($side_number,magenta)" 11 3 3}
  {DEFINE_RECRUIT fighter2 "Revenant" _"Revenant" "units/undead-skeletal/revenant.png~TC($side_number,magenta)" 24 6 7}
  {DEFINE_RECRUIT tank1 "Ghoul" _"Ghoul" "units/undead/ghoul.png~TC($side_number,magenta)" 12 4 4}
  {DEFINE_RECRUIT tank2 "Necrophage" _"Necrophage" "units/undead/necrophage.png~TC($side_number,magenta)" 23 8 9}
  {DEFINE_RECRUIT archer1 "Skeleton Archer" _"Skeleton Archer" "units/undead-skeletal/archer.png~TC($side_number,magenta)" 10 3 3}
  {DEFINE_RECRUIT archer2 "Bone Shooter" _"Bone Shooter" "units/undead-skeletal/bone-shooter.png~TC($side_number,magenta)" 22 6 7}
  {DEFINE_RECRUIT mage1 "Dark Adept" _"Dark Adept" "units/undead-necromancers/adept.png~TC($side_number,magenta)" 12 2 4}
  {DEFINE_RECRUIT mage2 "Dark Sorcerer" _"Dark Sorcerer" "units/undead-necromancers/dark-sorcerer.png~TC($side_number,magenta)" 28 4 9}
  #{DEFINE_RECRUIT healer1 "Mage" _"Mage" "units/human-magi/mage.png~TC($side_number,magenta)" 16 2 4}
  #{DEFINE_RECRUIT healer2 "White Mage" _"White Mage" "units/human-magi/white-mage.png~TC($side_number,magenta)" 36 4 9}
  {DEFINE_RECRUIT scout1 "Ghost" _"Ghost" "units/undead/ghost-s-2.png~TC($side_number,magenta)" 16 3 3}
  {DEFINE_RECRUIT scout2 "Wraith" _"Wraith" "units/undead/wraith-s.png~TC($side_number,magenta)" 34 6 6}
  {DEFINE_RECRUIT hero11 "Dark Sorcerer" _"Dark Sorcerer" "units/undead-necromancers/dark-sorcerer.png~TC($side_number,magenta)" 37 8 10}
  {DEFINE_RECRUIT hero12 "Lich" _"Lich" "units/undead-necromancers/lich.png~TC($side_number,magenta)" 55 16 20}
  {DEFINE_RECRUIT hero21 "EB Death Baron" _"Death Baron" "units/undead-skeletal/death-baron.png~TC($side_number,magenta)" 38 8 10}
  {DEFINE_RECRUIT hero22 "Death Knight" _"Death Knight" "units/undead-skeletal/deathknight.png~TC($side_number,magenta)" 50 16 20}
  {DEFINE_RECRUIT hero31 "Shadow" _"Shadow" "units/undead/shadow-s-2.png~TC($side_number,magenta)" 43 8 10}
  {DEFINE_RECRUIT hero32 "Nightgaunt" _"Nightgaunt" "units/undead/nightgaunt.png~TC($side_number,magenta)" 57 16 20}
  {DEFINE_RECRUIT hero41 "Revenant" _"Revenant" "units/undead-skeletal/revenant.png~TC($side_number,magenta)" 33 8 10}
  {DEFINE_RECRUIT hero42 "Draug" _"Draug" "units/undead-skeletal/draug.png~TC($side_number,magenta)" 55 16 20}
  {SET_BUILDING_IMAGE barracks "portraits/humans/dark-adept.png"}
  {SET_BUILDING_IMAGE blacksmith "portraits/undead/draug-2.png"}
  {SET_BUILDING_IMAGE university "portraits/undead/lich.png"}
  {SET_BUILDING_IMAGE embassy "portraits/humans/necromancer.png"}
  {SET_BUILDING_IMAGE temple "portraits/undead/brown-lich.png"}
  {SET_BUILDING_IMAGE hall_of_heroes "portraits/undead/shadow.png"}
  {SET_BUILDING_IMAGE market "portraits/undead/ancient-lich.png"}
#enddef
