#textdomain wesnoth-Empire_Builder

#define EB_FACTION_DRAKES
  [modify_side]
    side=$side_number
		{FLAG_VARIANT ragged}
  [/modify_side]
  {VARIABLE player_info[$side_number].race drakes}
  {VARIABLE default_leader_name _"Egar"}
  #textdomain wesnoth-units
  {VARIABLE player_recruits[$side_number].worker ""}
  {DEFINE_RECRUIT fighter1 "Drake Fighter" _"Drake Fighter" "units/drakes/fighter.png~TC($side_number,magenta)" 13 3 3}
  {DEFINE_RECRUIT fighter2 "Drake Warrior" _"Drake Warrior" "units/drakes/warrior.png~TC($side_number,magenta)" 26 6 7}
  {DEFINE_RECRUIT tank1 "Drake Clasher" _"Drake Clasher" "units/drakes/clasher.png~TC($side_number,magenta)" 15 4 4}
  {DEFINE_RECRUIT tank2 "Drake Arbiter" _"Drake Arbiter" "units/drakes/arbiter.png~TC($side_number,magenta)" 27 8 9}
  {DEFINE_RECRUIT archer1 "Drake Burner" _"Drake Burner" "units/drakes/burner.png~TC($side_number,magenta)" 17 3 9}
  {DEFINE_RECRUIT archer2 "Fire Drake" _"Fire Drake" "units/drakes/fire.png~TC($side_number,magenta)" 31 6 9}
  {VARIABLE player_recruits[$side_number].mage1 ""}
  {VARIABLE player_recruits[$side_number].mage2 ""}
  {DEFINE_RECRUIT healer1 "Saurian Augur" _"Saurian Augur" "units/saurians/augur/augur.png~TC($side_number,magenta)" 12 2 3}
  {DEFINE_RECRUIT healer2 "Saurian Soothsayer" _"Saurian Soothsayer" "units/saurians/soothsayer/soothsayer.png~TC($side_number,magenta)" 23 4 7}
  {DEFINE_RECRUIT scout1 "Drake Glider" _"Drake Glider" "units/drakes/glider.png~TC($side_number,magenta)" 12 3 3}
  {DEFINE_RECRUIT scout1 "Sky Drake" _"Sky Drake" "units/drakes/sky.png~TC($side_number,magenta)" 26 6 6}
  {SET_BUILDING_IMAGE barracks "portraits/drakes/transparent/clasher.png"}
  {SET_BUILDING_IMAGE blacksmith "portraits/drakes/transparent/flameheart.png"}
  {SET_BUILDING_IMAGE university "portraits/drakes/transparent/hurricane.png"}
  {SET_BUILDING_IMAGE embassy "portraits/drakes/transparent/warden.png"}
  {SET_BUILDING_IMAGE temple "portraits/drakes/transparent/fighter.png"}
#enddef
