#textdomain wesnoth-Empire_Builder

#define EB_FACTION_ELVES
  [modify_side]
    side=$side_number
    {FLAG_VARIANT wood-elvish}
  [/modify_side]
  {VARIABLE player_info[$side_number].faction elves}
  {VARIABLE default_leader_name _"Eowémir"}
  #textdomain wesnoth-units
  {DEFINE_RECRUIT worker "Elvish Civilian" _"Elvish Civilian" "units/elves-wood/civilian.png~TC($side_number,magenta)" 3 1 1}
  {DEFINE_RECRUIT fighter1 "Elvish Fighter" _"Elvish Fighter" "units/elves-wood/fighter.png~TC($side_number,magenta)" 10 3 3}
  {DEFINE_RECRUIT fighter2 "Elvish Hero" _"Elvish Hero" "units/elves-wood/hero.png~TC($side_number,magenta)" 28 6 7}
  {DEFINE_RECRUIT tank1 "Wose" _"Wose" "units/woses/wose.png" 16 4 4}
  {DEFINE_RECRUIT tank2 "Elder Wose" _"Elder Wose" "units/woses/wose-elder.png" 27 8 9}
  {DEFINE_RECRUIT archer1 "Elvish Archer" _"Elvish Archer" "units/elves-wood/archer.png~TC($side_number,magenta)" 10 3 3}
  {DEFINE_RECRUIT archer2 "Elvish Marksman" _"Elvish Marksman" "units/elves-wood/marksman.png~TC($side_number,magenta)" 37 6 7}
  #textdomain wesnoth-Empire_Builder
  {DEFINE_RECRUIT mage1 "Elvish Initiate" _"female^Elvish Initiate" "units/elves-wood/initiate.png~TC($side_number,magenta)" 11 2 4}
  #textdomain wesnoth-units
  {DEFINE_RECRUIT mage2 "Elvish Sorceress" _"female^Elvish Sorceress" "units/elves-wood/sorceress.png~TC($side_number,magenta)" 30 4 9}
  {DEFINE_RECRUIT healer1 "EB Elvish Shaman" _"female^Elvish Shaman" "units/elves-wood/shaman.png~TC($side_number,magenta)" 11 2 4}
  {DEFINE_RECRUIT healer2 "Elvish Druid" _"female^Elvish Druid" "units/elves-wood/druid.png~TC($side_number,magenta)" 30 4 9}
  {DEFINE_RECRUIT scout1 "Elvish Scout" _"Elvish Scout" "units/elves-wood/scout/scout.png~TC($side_number,magenta)" 14 3 3}
  {DEFINE_RECRUIT scout2 "Elvish Rider" _"Elvish Rider" "units/elves-wood/rider/rider.png~TC($side_number,magenta)" 27 6 7}
  {DEFINE_RECRUIT hero11 "Elvish Lord" _"Elvish Lord" "units/elves-wood/lord.png~TC($side_number,magenta)" 41 8 10}
  {DEFINE_RECRUIT hero12 "Elvish High Lord" _"Elvish High Lord" "units/elves-wood/high-lord.png~TC($side_number,magenta)" 65 16 20}
  {DEFINE_RECRUIT hero21 "Elvish Sorceress" _"Elvish Sorceress" "units/elves-wood/sorceress.png~TC($side_number,magenta)" 39 8 10}
  {DEFINE_RECRUIT hero22 "Elvish Enchantress" _"Elvish Enchantress" "units/elves-wood/enchantress.png~TC($side_number,magenta)" 60 16 20}
  {DEFINE_RECRUIT hero31 "Elvish Ranger" _"Elvish Ranger" "units/elves-wood/ranger.png~TC($side_number,magenta)" 46 8 10}
  {DEFINE_RECRUIT hero32 "Elvish Avenger" _"Elvish Avenger" "units/elves-wood/avenger.png~TC($side_number,magenta)" 65 16 20}
  {DEFINE_RECRUIT hero41 "Elvish Hero" _"Elvish Hero" "units/elves-wood/hero.png~TC($side_number,magenta)" 37 8 10}
  {DEFINE_RECRUIT hero42 "Elvish Champion" _"Elvish Champion" "units/elves-wood/champion.png~TC($side_number,magenta)" 60 16 20}
  {SET_BUILDING_IMAGE barracks "portraits/elves/captain.png"}
  {SET_BUILDING_IMAGE blacksmith "portraits/elves/lord.png"}
  {SET_BUILDING_IMAGE university "portraits/elves/sorceress.png"}
  {SET_BUILDING_IMAGE embassy "portraits/elves/lady.png"}
  {SET_BUILDING_IMAGE temple "portraits/elves/druid.png"}
  {SET_BUILDING_IMAGE hall_of_heroes "portraits/elves/marksman.png"}
  {SET_BUILDING_IMAGE market "portraits/elves/high-lord.png"}
#enddef
