#textdomain wesnoth-Empire_Builder

#define EB_FACTION_HUMANS
    [modify_side]
        side=$side_number
        {FLAG_VARIANT loyalist}
    [/modify_side]
    {VARIABLE default_leader_name _"Konrad"}
    {DEFINE_RECRUIT worker "Peasant" 3}
    {DEFINE_RECRUIT fighter1 "Spearman" 10}
    {DEFINE_RECRUIT fighter2 "Swordsman" 21}
    {DEFINE_RECRUIT tank1 "Heavy Infantryman" 15}
    {DEFINE_RECRUIT tank2 "Shock Trooper" 31}
    {DEFINE_RECRUIT archer1 "Bowman" 10}
    {DEFINE_RECRUIT archer2 "Longbowman" 22}
    {DEFINE_RECRUIT mage1 "EB Mage" 16}
    {DEFINE_RECRUIT mage2 "Red Mage" 36}
    {DEFINE_RECRUIT healer1 "Village_Healer" 16}
    {DEFINE_RECRUIT healer2 "White Mage" 36}
    {DEFINE_RECRUIT scout1 "Cavalryman" 14}
    {DEFINE_RECRUIT scout2 "Dragoon" 30}
    {DEFINE_RECRUIT hero11 "Duelist" 37}
    {DEFINE_RECRUIT hero12 "Master at Arms" 50}
    {DEFINE_RECRUIT hero21 "Knight" 45}
    {DEFINE_RECRUIT hero22 "Grand Knight" 63}
    {DEFINE_RECRUIT hero31 "Red Mage" 47}
    {DEFINE_RECRUIT hero32 "Arch Mage" 64}
    {DEFINE_RECRUIT hero41 "White Mage" 45}
    {DEFINE_RECRUIT hero42 "Mage of Light" 69}
    {SET_BUILDING_IMAGE barracks "portraits/humans/duelist.webp"}
    {SET_BUILDING_IMAGE blacksmith "portraits/humans/thug.webp"}
    {SET_BUILDING_IMAGE university "portraits/humans/mage-red.webp"}
    {SET_BUILDING_IMAGE embassy "portraits/humans/mage-silver.webp"}
    {SET_BUILDING_IMAGE temple "portraits/humans/mage-white.webp"}
    {SET_BUILDING_IMAGE hall_of_heroes "portraits/humans/grand-knight.webp"}
    {SET_BUILDING_IMAGE market "portraits/humans/footpad.webp"}
#enddef
