#textdomain wesnoth-Empire_Builder

#define EB_FACTION_ORCS
    [modify_side]
        side=$side_number
        {FLAG_VARIANT6 ragged}
    [/modify_side]
    {VARIABLE default_leader_name _"Grogdish"}
    {DEFINE_RECRUIT worker "Goblin Spearman" 3}
    {DEFINE_RECRUIT fighter1 "Orcish Grunt" 8}
    {DEFINE_RECRUIT fighter2 "Orcish Warrior" 22}
    {DEFINE_RECRUIT tank1 "Troll Whelp" 9 }
    {DEFINE_RECRUIT tank2 "Troll" 25}
    {DEFINE_RECRUIT archer1 "Orcish Archer" 10}
    {DEFINE_RECRUIT archer2 "Orcish Crossbowman" 22}
    {DEFINE_RECRUIT mage1 "Orcish Assassin"  13}
    {DEFINE_RECRUIT mage2 "Orcish Slayer" 29}
    {DEFINE_RECRUIT healer1 "Orcish Shaman" 14}
    {DEFINE_RECRUIT healer2 "Orcish Warlock" 25}
    {DEFINE_RECRUIT scout1 "Wolf Rider" 13}
    {DEFINE_RECRUIT scout2 "Goblin Knight" 28}
    {DEFINE_RECRUIT hero11 "Orcish Warrior" 31}
    {DEFINE_RECRUIT hero12 "Orcish Warlord" 53}
    {DEFINE_RECRUIT hero21 "Orcish Ruler" 40}
    {DEFINE_RECRUIT hero22 "Orcish Sovereign" 55}
    {DEFINE_RECRUIT hero31 "Troll Hero" 35}
    {DEFINE_RECRUIT hero32 "Great Troll" 53}
    {DEFINE_RECRUIT hero41 "Orcish Slayer" 38}
    {DEFINE_RECRUIT hero42 "Orcish Nightblade" 48}
    {SET_BUILDING_IMAGE barracks "portraits/orcs/warrior.webp"}
    {SET_BUILDING_IMAGE blacksmith "portraits/orcs/grunt-2.webp"}
    {SET_BUILDING_IMAGE university "portraits/orcs/assassin.webp"}
    {SET_BUILDING_IMAGE embassy "portraits/orcs/ruler-2.webp"}
    {SET_BUILDING_IMAGE temple "portraits/orcs/grunt-5.webp"}
    {SET_BUILDING_IMAGE hall_of_heroes "portraits/orcs/slurbow.webp"}
    {SET_BUILDING_IMAGE market "portraits/orcs/slayer.webp"}
#enddef
