#textdomain wesnoth-Empire_Builder

#define TRAIT_BUILDING
  [trait]
    id=building
    availability="musthave"
    male_name= _ "building"
    description= _ "Immune to drain, poison, and plague"
    [effect]
      apply_to=status
      add=unpoisonable
    [/effect]
    [effect]
      apply_to=status
      add=undrainable
    [/effect]
    [effect]
      apply_to=status
      add=unplagueable
    [/effect]
  [/trait]
#enddef
